$primary-tc: #757575;
$title-tc: #212121;
$accent: #2196f3;
$footer-tc: #ffffff;
$black: #000000;
$rgbagradient: rgba(47, 48, 58, 0.8);
$bcthumb: #f5f4fa;
$bshadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 1px 3px rgba(0, 0, 0, 0.12);
$cub: cubic-bezier(0.4, 0, 0.2, 1);
$team: #afb1b8;
$bgcolor: rgba(33, 150, 243, 0.9);
$footerbgc: #2f303a;
$frgba: rgba(255, 255, 255, 0.6);
$fpctr: rgba(255, 255, 255, 0.1);
$fbrdrinput: rgba(255, 255, 255, 0.3);
$copyright: rgba(255, 255, 255, 0.4);
